.checkoutproduct {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px; /* adds space between image and info */
  }
  
  .checkoutproduct-img {
    max-height: 200px;
    width: 200px; /* set a fixed width */
    object-fit: contain;
    margin-top: 15px;
  }
  
  .checkoutproduct-info {
    flex: 1; /* takes remaining space */
  }
  
  .checkoutproduct-info > button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .checkoutproduct-rating {
    display: flex;
  }
  
  .checkoutproduct-title {
    font-size: 17px;
    font-weight: 100;
  }
  