.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
    justify-content: center;
    font-family: 'Arial', sans-serif;
  }
  
  .login-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #131921;
  }
  
  .login-logoimage {
    margin-right: 10px;
    color: #e9770d;
  }
  
  .login-logoTitle {
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #f3f3f3;
  }
  
  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-container h5 {
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .login-container input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .login-signInButton{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #e9770d;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  .login-registerButton {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0fd2e059;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .login-signInButton:hover,
  .login-registerButton:hover {
    background-color: #005f69;
  }
  
  .login-container p {
    font-size: 12px;
    margin-top: 15px;
    color: #555;
  }
  